* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #84DBCB;
    background-image: url('../img/fundo.png');
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    height: 100vh;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 800px) {
    body {
      background-size: 600px;
    }
  }

   header {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
   }
  
  .menu{
    background-color: #84DBCB;
    border-bottom: 3px solid #eedaaa;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
  }
  
  .menu ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }

  .menu a {
    background-color: #84DBCB;
    padding: 20px 20px;
    display: block;
    transition: background-color 1s, color 1s;
  }

  .menu a:active,
  .menu a:hover {
    background-color: #3a3834;
    color: #84DBCB;
  }
  
  a {
    color: #3a3834;
    text-align: center;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #eedaaa;
  }

  .start {
      position: relative;
      width: 16em;
      font-size: 200%;
      font-weight: 400;
      margin: 20% auto;
      color: #aeefff;
      opacity: 0;
      -webkit-animation: intro 2s ease-out;
      animation: intro 2s ease-out;
  }

  @media (max-width: 600px) {
    .start {
        font-size: 100%;
        font-weight: 200;
        margin: 20% auto;
    }
  }

  @-webkit-keyframes intro {
      0% {
          opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  @keyframes intro {
      0% {
          opacity: 1;
      }
      90% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  .img-sw {
      position: absolute;
      left: 20%;
      top: 25%;
      height: 50vh;
      opacity: 0;
      z-index: 1;
      -webkit-animation: logo 5s ease 2.5s;
      animation: logo 5s ease 2.5s;
  }

  @media (max-width: 600px) {
    .img-sw {
        height: 20vh;
        left: 2%;
        top: 40%;
    }
  }

  @-webkit-keyframes logo {
      0% {
          -webkit-transform: scale(1); opacity: 1;
      }
      50% {
          opacity: 1;
      }
      100% {
          -webkit-transform: scale(0.1); opacity: 0;
      }
  }

  @keyframes logo {
      0% {
          transform: scale(1); opacity: 1;
      }
      50% {
          opacity: 1;
      }
      100% {
          transform: scale(0.1); opacity: 0;
      }
  }

  .texto {
        color: #EBD71C;
        font-family: sans-serif;
        position: absolute;
        width: 18em;
        height: 50em;
        bottom: 0;
        left: 50%;
        margin-left: -9em;
        font-size: 300%;
        letter-spacing: 10px;
        line-height: 100px;
        text-align: justify;
        overflow: hidden;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: perspective(300px) rotateX(25deg);
        transition: perspective(300px) rotateX(25deg);
  }
  @media (max-width: 600px) {
    .texto {
        font-size: 110%;
        letter-spacing: 5px;
        line-height: 50px;
        margin-left: -50%;
        -webkit-transform: perspective(400px) rotateX(25deg);
        transition: perspective(400px) rotateX(25deg);
    }
  }

  .texto:after {
      position: absolute;
      content: ' ';
      left: 0;
      right: 0;
      top: 0;
      bottom: 60%;
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
      background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
      background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
      pointer-events: none;
  }

  .episodio {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 50s linear 4s;
    animation: scroll 50s linear 4s;
  }

  .episodio h2,
  .episodio h1 {
      text-align: center;
  }

  .episodio h2 {
      font-size: 200%;
  }

  @-webkit-keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -150%;
      }
  }

  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -150%;
      }
  }
  
  .site-subtitle,
  .site-title {
    color: #eedaaa;
    position: absolute;
    left: 40%;
    top: 50%;
    line-height: 200px;
    opacity: 0;
    z-index: 1;
    -webkit-animation: nome 4s linear 43s forwards;
    animation: nome 4s linear 43s forwards;
  }

  @media (max-width: 600px) {
    .site-subtitle,
    .site-title {
        left: 25%;
        top: 43%;
        line-height: 150px;
        -webkit-animation: nome 4s linear 43s forwards;
        animation: nome 4s linear 43s forwards;
    }
  }

  @-webkit-keyframes nome {
    0% {
        -webkit-transform: scale(0.0); opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1); opacity: 1;
    }
  }

  @keyframes nome {
    0% {
        transform: scale(0,0); opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: scale(1); opacity: 1;
    }
  }

  .site-title {
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    line-height: 1em;
  }

  @media (max-width: 600px) {
    .site-title {
      font-size: 3em;
    }
  }

  .site-subtitle {
    font-family: 'Roboto Mono', monospace;
  }

  .portfolio {
    padding: 2em;
    width: 100vw;
    height: 100vh;
  }

  .contato h2,
  .portfolio h2 {
    color: #3a3834;
    font-family: 'Staatliches', cursive;
    margin-top: 1.5em;
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  @media (max-width: 600px) {
    .contato h2,
    .portfolio h2 {
      margin-top: 2em;
      font-size: 2.2em;
    }
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    align-content: center;  
    justify-content: center;
    grid-template-columns: repeat(2, 170px);
  }

  @media (min-width: 600px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 170px);
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 200px);
    }
  }

  @media (min-width: 1200px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 300px);
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2);
  }

  @media (min-width: 600px) {
    .img-portfolio {
      width: 150px;
      height: 150px;
      align-content: center;  
      justify-content: center;
    }
  }

  @media (min-width: 880px) {
    .img-portfolio {
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: 1200px) {
    .img-portfolio {
      width: 230px;
      height: 230px;
    }
  }

  .contato {
    padding: 2em;
    width: 100vw;
    height: 50vh;
    margin: 0;
    border: 0;
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: #3a3834;
    font-size: 3em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px #eedaaa;
  }
  